version: "3.8"

services:
  nextjs:
    build: .
    ports:
      - "3000:3000"
    env_file: .env
    # ENV will be read from the .env file on the server

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - nextjs
